@import url(fontface/fontface.css);

body {
  font-family: 'Almarai', sans-serif;
  background-color: #f5f5f9;
}

/* =========================== Scrollbar =========================== */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: #ddd;
}

/* =========================== Global =========================== */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, auto));
  gap: 25px;
}

.list-sm {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(175px, auto));
  gap: 18px;
}

.bg-dark-hover {
  transition: 250ms;
}
.bg-dark-hover:hover {
  background-color: #333;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(0, 0, 0, 75%);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
  z-index: 3;
  transition: 250ms;
}

.overlay:hover {
  opacity: 1;
}

.skeleton {
  position: relative;
}

.skeleton::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    background: #eee;
  } 
  50% {
    background: #ddd;
  }
  100% {
    background: #eee;
  }
}

/* =========================== Components =========================== */
.semi-bar {
  width: 75%;
}

@media (max-width: 768px) {
  .semi-bar {
    width: 100%;
  }
}